# Byte-compiled / optimized / DLL files
__pycache__/
rover_pkg/build/
rover_pkg/devel/
rover_pkg/log/
rover_pkg/install/
*.pyc

# Redis Backup file
*.rdb

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cache files
*.DS_Store
log/
install/
build/