# Service to launch the rover node. Copy this file: sudo cp ~/Desktop/ERC_CS_Rover/rovernode.service /etc/systemd/system/rovernode.service and run sudo systemctl enable rovernode.service to enable the service.


[Unit]
Description=Rover Node Service
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/bin/bash /home/brokkoly/Desktop/ERC_CS_Rover/start_rover.sh
ExecStop=/bin/bash /home/brokkoly/Desktop/ERC_CS_Rover/stop_rover.sh

[Install]
WantedBy=default.target
